body {
  font-family: 'Arial, sans-serif';
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}
.title {
  text-align: center;
  font-size: 32px; 
  margin-bottom: 20px; 
  text-transform: uppercase;
}
.list {
  font-size: 18px; 
}
.post-section {
  display: flex;
  flex-direction: column; /* 要素を縦に配置 */
  align-items: flex-start; /* 要素を左寄せ */
  gap: 10px;
}
.post-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #008CBA; 
  color: #fff; 
  border: none;
  cursor: pointer;
  width: 50%; /* ボタンの幅を名前欄の幅の半分に設定 */
  border-radius: 25px; /* ボタンの角を丸くして円形にする */
}
.username-input {
  flex: 3; 
  padding: 10px;
  font-size: 16px; 
  border: 1px solid #ccc; 
  width: 100%; /* フィールドの幅を100%に設定 */
  box-sizing: border-box; /* パディングとボーダーを含めて100%に */
}
.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc; 
  width: 100%; /* フィールドの幅を100%に設定 */
  box-sizing: border-box; /* パディングとボーダーを含めて100%に */
}

textarea.input-field {
  width: 100%; /* 幅を100%に変更 */
}
