/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth; 
    /* smooth transition with menu */
}

p{
    color: rgb(85,85,85);
}

/* get rid of the button default */

button {
    /* Remove default button border and outline */
    border: none;
    outline: none;

    /* Remove default box-shadow */
    box-shadow: none;

    /* Optional: Remove button background color and padding */
    background: none;
    padding: 0;
    margin: 0;

    /* Optional: Set the cursor to pointer on hover */
    cursor: pointer;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

/* 掲示板GPT */
.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}
/* When you hover over logo nothing happens */

/* スレ立てボタン */
.gray-button {
    background-color: #D9D9D9;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.gray-button:hover {
    background-color: #ECECEC
}

/* スレッド */
.threads{
    padding-left: 10rem;
    padding-right: 10rem;
}

.thread-text{
    text-align: center;
    font-size: 1.2rem;
}

/*　個々のスレッド */
.gray-box{
    background-color: #D9D9D9;
    text-align: center; /* Center the text horizontally */
    padding: 1rem; /* Add padding to create space around the text */
    margin: 1rem;
}


.gray-box:hover {
    background-color: #ECECEC;
}